img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

body {
  text-align: center;
  -webkit-app-region: drag;
  background-color: rgba(0,0,0,0.6);
  color: #FFFFFF;
  overflow: hidden;
  
}

button {
  -webkit-app-region: no-drag;
  type: button;
  
}

.albumart {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 0px;
}
.header1 {
  -webkit-app-region: drag;
  height: 20vh;
  min-height: 120px;
}

.lyrics {
  overflow-x: hidden;
  height: 70vh;
  overflow-y: scroll;
  max-height: 70vh;
  white-space: pre-wrap;
  font-size: 14px;
  -webkit-app-region: no-drag;
  height: 100%;
    width: 100%;
    padding-right: 10px;
  padding-left: 10px;
}

.class1 {
  text-align: center;
}

.lyricsOuter {
  height: 100%;
    width: 100%;
    overflow: hidden;
}

.addbuttonsdiv {
  position: absolute;
  right: 7px;
  top: 3px;
}

.addbuttons {
  margin: 2px;
}

.fa {
    font-size: 15px;
}

.info {
  font-size: 16px;
}

table {border: 0px solid #000; border-collapse: collapse; width: 100%}

.actions {
  vertical-align: middle;
}

::-webkit-scrollbar {
    width: 1px;
    height: 13px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  height: 120px;
  margin-top: -30px
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  width: 300px;
  font-size: 12px;
  padding-left: 8px
}
